.home-banner-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.home-banner-text-container,
.home-banner-image-container {
  width: 50%;
  height: 100%;
}

.home-banner-text-container p {
  padding: 14px;
}

.home-banner-text-container {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner-image-container {
  background-color: #384b70;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-banner-image {
  height: 350px;
}

.home-banner-image {
  height: 350px;
}

@media (max-width: 468px) {
  .home-banner-container {
    flex-direction: column;
    height: auto;
  }

  .home-banner-text-container,
  .home-banner-image-container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .home-banner-text-container p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1;
  }

  .home-banner-image {
    height: 250px;
  }
}
